<div class="fields">
<h3> <%= @question.name %> <h3>

  <%= form_for [@question] do |f| %>
  <%= f.label :name, "Your Name" %>
  <%= f.text_field :name %>
  <%= f.label :body, "Question" %>
  <%= f.text_field :body %>
  <%= f.submit "Ask Jenn!" %>

<% end %>
</div>
